<div class="container">
  <div class="body">
    <h1 class="title">Eventos</h1>
    <h2 class="subtitle">Revisa tus eventos próximos en el calendario </h2>
    
</div>
<div class="table-container">
  <a class="btn btn-danger mb-3" [routerLink]="[ '/calendar']">Regresar</a>
    <table>
        <tr>
          <th>Próximo</th>
          <th>Hora</th>
          <th>Descripción</th>
        </tr>
        <tr>
          <td>Viernes 13</td>
          <td>8:00 - 9:00 AM</td>
          <td>Descripción del evento 1</td>
        </tr>
        <tr>
          <td>Lunes 16</td>
          <td>8:00 - 9:00 AM</td>
          <td>Descripción del evento 2</td>
        </tr>
        <tr>
          <td>Martes 17</td>
          <td>8:00 - 9:00 AM</td>
          <td>Descripción del evento 3</td>
        </tr>
      </table>

</div>
</div>
