<div class="container">
  <div class="row">
      <div class="col-12 px-5">
          <div class="card">
              <div class="card card-header">
                  Buscar:
              </div>
              <div class="card-body">
                  <div class="row justify-content-evenly">
                      <div class="col">
                          <label class="label" for="teacherName">Nombre:</label>
                          <input [(ngModel)]="filterName" class="form-control" type="text" name="filterName"  id="filterName">
                      </div>
                      <div class="col">
                          <label class="label" for="teacherSubject">Asignatura:</label>
                          <ng-select [items]= "materias"
                          bindLabel= "name_s"
                          name= "filterAsignatura"
                          id= "filterAsignatura"
                          bindValue= "nombre_s"
                          [(ngModel)]="filterAsignatura"
                          >
                       </ng-select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 p-5">
          <div class="card">
          <div class="card-header">
              <h3>Eventos</h3>
          </div>
          <div class="card-body ">
              <div *ngFor="let evento of events| eventPipe:filterName | eventAsignaturaPipe: filterAsignatura  let i = index " class="accordion accordion-flush" id="accordion">
                  <a class="accordion-button" data-bs-toggle="collapse" href="#{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                      {{evento.title}}
                  </a>
                  <div class="collapse" id="{{i}}">
                      <div class="card bg-brown my-1 card-body">
                          <div class="row">
                              <div class="col"><h5>Inicio:</h5></div>
                              <div class="col">{{startDate[i]}} {{timeStart[i]}}</div>
                          </div>
                          <div class="row">
                            <div class="col"><h5>Fin:</h5></div>
                            <div class="col">{{endDate[i]}} {{timeEnd[i]}}</div>
                          </div>
                          <div class="row">
                              <div class="col"><h5>Asignatura:</h5></div>
                              <div class="col">{{evento.teacher.subject.name_s}}</div>
                          </div>
                          <div class="row justify-content-evenly">
                              <div class="col"><h5>Maestro:</h5></div>
                              <div class="col"><p>{{evento.teacher.name_p }} {{evento.teacher.lastname_p}}</p></div>
                          </div>
                          <div class="row justify-content-evenly">
                              <div class="col"><h5>Descripción:</h5></div>
                              <div class="col"><p>{{evento.description}}</p></div>
                          </div>
                          <div class="row">
                              <div class="col-lg-1 col-md-1 col-sm-12">
                                  <a class="btn btn-dark"[routerLink]="[ '../../calendar/register-event' ] " [state]="evento">Editar</a>
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-12">
                                  <a class="btn btn-danger" (click)="deleteEvent(evento.id)" >Eliminar</a>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="card card-footer">
              <div class="row">
                  <div class="col-1">
                      <a class="btn btn-success"[routerLink]="[ '../../calendar/register-event', ]">Añadir</a>
                  </div>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>

