.slider-container {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%; /* Ancho total de los slides (100% x número de slides) */
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 1 0 100%;
}

.slide img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.slider-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-navigation label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  cursor: pointer;
}

.slider-navigation label:hover {
  background-color: #555;
}

input[name="slider"] {
  display: none;
}

input[name="slider"]:checked ~ .slides {
  transform: translateX(-33.33%); /* Desplazamiento horizontal según el número de slides */
}

.carousel-controls {
  margin-top: 20px;
  text-align: center;
}

.carousel-controls button {
  font-size: 18px;
}

.title-container {
  background-image: url('src\assets\images\fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.433);
  color: white;
  padding: 20px;
}

.carousel-overlay h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.carousel-overlay button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
}

.carousel-overlay button:hover {
  background-color: darkgreen;
}

@media screen and (max-width: 768px) {
  .carousel-overlay {
    position: relative;
    animation: none;
  }
}
/* styles.css */

.custom-carousel {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black; /* Color de las flechas */
  }

  .carousel-indicators li {
    background-color: black; /* Color de los indicadores de las imágenes */
  }
}

.custom-image {
  height: 300px; /* Altura deseada para las imágenes */
  object-fit: cover; /* Ajusta la imagen al tamaño especificado sin deformarla */
}

/* styles.css */

.btn-pink {
  background-color: #E04B5A; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  width: auto; /* Ancho automático según el contenido */
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados del botón */
}


