<div class="container pt-5">
  <a class="btn btn-danger mb-3" [routerLink]="['/pages']">Regresar</a>
  <div class="row">
    <div class="col-md-4 col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h1>Registro de Materias</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="materiaForm">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input [(ngModel)]="updatedSubject.name_s" formControlName="nombre" type="text" class="form-control" id="nombre" name="nombre" required>
              <div class="material" *ngIf="nombreInvalido() && materiaForm.get('nombre')?.touched">
                Este campo es obligatorio y no puede llevar símbolos y números.
              </div>
            </div>
            <button *ngIf="!updating" (click)="createSubjectsF(successTemplate)" type="submit" class="btn btn-success mt-2 me-2">Registrar</button>
            <button *ngIf="updating" (click)="updateSubjectF()" type="submit" class="btn btn-success mt-2 me-2">Actualizar</button>
            <button (click)="vaciar()" type="button" class="btn btn-danger mt-2">Vaciar</button>
          </form>

          <!-- Modal Template for Empty Field -->
          <ng-template #errorTemplate>
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><b>Error</b></h4>
                <button type="button" class="close" aria-label="Close" (click)="modalRef?.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>El campo de Nombre no puede estar vacío.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">Cerrar</button>
              </div>
            </div>
          </ng-template>

          <!-- Modal Template for Successful Registration -->
          <ng-template #successTemplate>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Registro Exitoso</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>La materia ha sido registrada exitosamente.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="modalRef?.hide()" (click)="reloadPage()">Cerrar</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h1>Listado de Materias</h1>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materias">
                <td>{{ materia.name_s }}</td>
                <td>
                  <button class="btn btn-success mt-2 me-2" (click)="selectSubject(materia)">Actualizar</button>
                </td>
                <td>
                  <button class="btn btn-danger mt-2" (click)="deleteSubjectF(materia)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
