<div class="main-container">
    <div class="login-box">

            <img class="ky-logo" src="../../../assets/images/logo_transparent.png" alt="logo Kuya Yana">
            <h1>Registrate</h1>
            <form action="">
                <div class="first-column-inputs">

                    <!--NOMBRE-->
                    <label for="nombre">Nombre</label>
                    <input [(ngModel)]="user.nombre_u" id="nombre" name="nombre" type="text" placeholder="Ingresa tu nombre">

                    <!--EMAIL-->
                    <label for="email">Correo electronico</label>
                    <input [(ngModel)]="user.email" name="email" id="email" type="email" required placeholder="Ejemplo: pepe@gmail.com" class="form-control" [formControl]="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                      <span *ngIf="email.errors?.['required']">El correo electrónico es requerido.</span>
                      <span *ngIf="email.errors?.['pattern']">El correo electrónico no es válido.</span>
                    </div>


                    <!--Teléfono-->
                    <label for="telf">Teléfono celular</label>
                    <input [(ngModel)]="user.telf" name="telf" id="telf" type="string" maxlength="10"  placeholder="Ingresa tu número de teléfono" [formControl]="telf">
                    <div *ngIf="telf.invalid && (telf.dirty || telf.touched)">
                      <span *ngIf="telf.errors?.['required']">El teléfono es requerido.</span>
                      <span *ngIf="telf.errors?.['pattern']">El teléfono debe contener solo números.</span>
                    </div>

                    <!--Nickname-->
                    <label for="nickname">Apodo</label>
                    <input [(ngModel)]="user.nickname" name="nickname" id="nickname" type="string" placeholder="Ingresa tu NickName">

                </div>
                <div class="second-input-column">

                    <!--APELLIDO-->
                    <label for="apellido">Apellido</label>
                    <input [(ngModel)]="user.apellido_u" name="apellido" id="apellido" type="text" placeholder="Ingresa tu apellido">

                    <!--CONTRASEÑA-->
                    <label for="password">Contraseña</label>
                    <input [(ngModel)]="user.contrasenia" name="password" id="password"  type="text" placeholder="Ingresa tu contraseña" type="password" required class="form-control" [formControl]="password" class="form-control">
                    <div class="form-group">
                      <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.hasError('required')" class="text-danger">La contraseña es obligatoria.</div>
                        <div *ngIf="password.hasError('minlength')" class="text-danger">La contraseña debe tener al menos 8 caracteres.</div>
                      </div>
                    </div>


                    <!--REPITE LA CONTRASEÑA-->
                    <label for="password">Contraseña</label>
                    <input [(ngModel)]="passwordVerify" name="password" id="password" placeholder="Repite tu contraseña" type="password" required class="form-control" [formControl]="password">
                    <span *ngIf="passwordVerify !== user.contrasenia">Las contraseñas no coinciden.</span>
                  </div>

                  <div class="register-buttons">
                    <button (click)="createUser()" id="register-button" class="btn btn-danger">Registrarse</button>

                  <div class="validation-error-message" *ngIf="showValidationError">{{ validationErrorMessage }}</div>

                    <!--<a href="#">¿Perdiste tu contraseña?</a>-->
                    <div class="register-links">
                        <a id="dissabled-link" >¿Ya tienes una cuenta?</a>
                        <button (click)="navigateToLogin()" id="enabled-link" >Inicia Sesión aquí</button>
                    </div>
                </div>

            </form>
    </div>
        <img class="login-image" src="../../../assets/images/liderar-reuniones.jpg" alt="">
</div>
