<div class="container">
    <div class="row">
        <div class="col-12 px-5">
            <div class="card">
                <div class="card card-header">
                    Buscar:
                </div>
                <div class="card-body">
                    <div class="row justify-content-evenly">
                        <div class="col">
                            <label class="label" for="teacherName">Nombre:</label>
                            <input [(ngModel)]="filterName" class="form-control" type="text" name="filterName"  id="filterName">
                        </div>
                        <div class="col">
                            <label class="label" for="teacherSubject">Asignatura:</label>
                            <ng-select [items]= "materias"
                            bindLabel= "name_s"
                            name= "filterAsignatura"
                            id= "filterAsignatura"
                            [clearable]="true" 
                            bindValue= "nombre_a"
                            [(ngModel)]="filterAsignatura"
                            >
                         </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            <div class="card">
            <div class="card-header">
                <h3>Maestros</h3>
            </div>
            <div class="card-body ">
                <div *ngFor="let maestro of maestros |teacher:filterName | teacherAsignaturaPipe: filterAsignatura let i = index" class="accordion accordion-flush" id="accordion">
                    <a class="accordion-button" data-bs-toggle="collapse" href="#{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{maestro.name_p + ' ' + maestro.lastname_p}}
                    </a>
                    <div class="collapse" id="{{i}}">
                        <div class="card bg-brown my-1 card-body">
                            <div class="row">
                                <div class="col"><h5>Asignatura:</h5></div>
                                <div class="col">{{maestro.subject.name_s}}</div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="col"><h5>Correo:</h5></div>
                                <div class="col"><p>{{maestro.email}}</p></div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="col"><h5>Contacto:</h5></div>
                                <div class="col"><p>{{maestro.telf}}</p></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-12">
                                    <a class="btn btn-dark"[routerLink]="[ '../teacher-register' ] " [state]="maestro">Editar</a>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12">
                                    <a class="btn btn-danger" (click)="deleteTeachers(maestro.id)">Eliminar</a>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="card card-footer">
                <div class="row">
                    <div class="col-1">
                        <a class="btn btn-success"[routerLink]="[ '../teacher-register', ]">Añadir</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

